In [23]:
# import data manipulation libraries

import numpy as np
import pandas as pd

# import data visualization libraries

import matplotlib.pyplot as plt
import seaborn as sns

#import filter warning libraries
import warnings
warnings.filterwarnings('ignore')

#import logging files

import logging
logging.basicConfig(level= logging.INFO,
                    filename='model.log',
                    filemode='w',
                    format='%(asctime)s - %(levelname)s - %(message)s',
                    force=True)

In [12]:
# data import using pandas function
url='https://raw.githubusercontent.com/Frisk516/BankMarketing_MLModel/refs/heads/main/BankTelemarketing.csv'

df=pd.read_csv(url,sep=';')
df.sample(frac=1)#shuffle dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
7914,45,technician,single,secondary,no,410,yes,no,unknown,30,may,891,4,-1,0,unknown,yes
38864,33,services,married,secondary,no,-52,yes,no,cellular,18,may,278,1,-1,0,unknown,no
20368,41,management,married,tertiary,no,0,no,no,cellular,11,aug,1242,5,-1,0,unknown,yes
41198,35,management,single,tertiary,no,1756,no,no,cellular,20,aug,195,1,-1,0,unknown,yes
38996,28,admin.,married,secondary,no,-76,yes,no,cellular,18,may,143,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28997,56,unemployed,married,secondary,no,0,no,no,telephone,2,feb,492,1,-1,0,unknown,yes
16387,35,admin.,married,secondary,no,11,yes,no,cellular,23,jul,103,4,-1,0,unknown,no
27320,31,management,single,tertiary,no,6542,yes,no,cellular,21,nov,71,3,192,2,other,no
449,42,blue-collar,married,unknown,no,132,yes,no,unknown,6,may,238,1,-1,0,unknown,no
14446,58,technician,single,secondary,no,409,no,yes,cellular,14,jul,643,2,-1,0,unknown,no

In [24]:
logging.info('Dataset Uploaded Successfully.....')